<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Interpretador</title>
  </head>
  <body>
    <h1>Interpretador</h1>
    <h3>Feito para a aula de Arquiteturas de Computadores 2</h3>

    <!-- arrumar o action -->
    <form action="localhost:5000/run">
        <input type="text" name="instruction" placeholder="Instrução">
        <input type="text" name="register_1" placeholder="Registro 1">
        <input type="text" name="register_2" placeholder="Registro 2">
        <button type="button" name="btnRun">Executar</button>
    </form>

    <p>Feito em Python, utilizando flask para o frontend.</p>
  </body>
</html>
